@using FileConversionCommon;

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Contoso Ads</h1>
</div>
<div class="row">
    <div class="col-md-12">
   
        <h2>Upload a File</h2>
        <p><a class="btn btn-default" href="@Url.Action("Create","Files")">Upload a File</a></p>
    </div>
</div>